# .editorconfig
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space

[*.json]
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.yml, *.yaml]
indent_style = space
indent_size = 2

[*.astro]
indent_style = space
indent_size = 4

[*.ts, *.tsx, *.js, *.jsx, *.mjs]
indent_style = space
indent_size = 4

[*.html, *.css, *.scss]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab
