:root {
  /* openai scheme */
  --white: #ffffff;
  --black: #000000;
  --gray-000: #ffffff;
  --gray-050: #f2f2f2;
  --gray-100: #fafafa;
  --gray-200: #f5f5f5;
  --gray-300: #ededed;
  --gray-400: #e5e5e5;
  --gray-500: #cdcdcd;
  --gray-600: #a8a8a8;
  --gray-700: #747474;
  --gray-750: #616161;
  --gray-800: #393939;
  --gray-825: #171717;
  --gray-850: #080808;
  --gray-900: #000000;
  --red-050: #fff7f6;
  --red-100: #ffedeb;
  --red-200: #ffe0db;
  --red-300: #ffd3c9;
  --red-400: #ffb7a4;
  --red-500: #ff9574;
  --red-600: #ff6e3c;
  --red-700: #ff4500;
  --red-800: #aa2e00;
  --red-900: #541600;
  --green-050: #f4fff4;
  --green-100: #e9ffe8;
  --green-200: #d9ffd8;
  --green-300: #c9ffc7;
  --green-400: #a6ffa3;
  --green-500: #7cf178;
  --green-600: #51da4c;
  --green-700: #3fa93b;
  --green-750: #129455;
  --green-800: #2d712a;
  --green-900: #193718;
  --blue-050: #f4fbff;
  --blue-100: #e5f1ff;
  --blue-150: #eff2f7;
  --blue-200: #cbdcff;
  --blue-300: #afc1ff;
  --blue-400: #7989ff;
  --blue-450: #3269d6;
  --blue-500: #3c46ff;
  --blue-600: #0000ff;
  --blue-700: #0404ac;
  --blue-800: #020267;
  --blue-900: #00002e;
  --cyan-050: #f0ffff;
  --cyan-100: #e0ffff;
  --cyan-200: #caffff;
  --cyan-300: #b3ffff;
  --cyan-400: #82ffff;
  --cyan-500: #42ffff;
  --cyan-600: #00ffff;
  --cyan-700: #00e7e7;
  --cyan-800: #00b3b3;
  --cyan-900: #005454;
  --yellow-050: #ffffdb;
  --yellow-100: #ffffb6;
  --yellow-200: #ffff8f;
  --yellow-300: #ffff66;
  --yellow-400: #fff639;
  --yellow-500: #f5e60d;
  --yellow-600: #cfc52c;
  --yellow-700: #a19a3a;
  --yellow-800: #6c6837;
  --yellow-900: #343322;
  --magenta-050: #fff9ff;
  --magenta-100: #fff2ff;
  --magenta-200: #ffd7ff;
  --magenta-300: #ffc1ff;
  --magenta-400: #ff8bff;
  --magenta-450: #f257bd;
  --magenta-500: #ff45ff;
  --magenta-600: #ff00ff;
  --magenta-700: #c500c5;
  --magenta-800: #830083;
  --magenta-900: #400040;
  --orange-050: #fffcf5;
  --orange-100: #fff9ea;
  --orange-200: #fff1d6;
  --orange-300: #ffe8c1;
  --orange-400: #ffc98a;
  --orange-500: #ffa045;
  --orange-600: #fe7600;
  --orange-700: #c45600;
  --orange-750: #cf440a;
  --orange-800: #833600;
  --orange-900: #401900;
  --violet-050: #fff9ff;
  --violet-100: #fff2ff;
  --violet-200: #fee6ff;
  --violet-300: #fcdaff;
  --violet-400: #ebbbff;
  --violet-500: #d292ff;
  --violet-600: #b161fd;
  --violet-700: #8a2be2;
  --violet-800: #571397;
  --violet-900: #28044a;
  --brown-050: #f7ece6;
  --brown-100: #f0dacf;
  --brown-200: #e8c7b6;
  --brown-300: #e1b59f;
  --brown-400: #cb9379;
  --brown-500: #b67252;
  --brown-600: #a0522d;
  --brown-700: #793a1c;
  --brown-800: #51230d;
  --brown-900: #2a1003;

  --white-core: #ffffff;
  --white-tint-dark: #f6f6f6;
  --white-tint-muted: #f3f3f3;
  --white-highlight: #ededed;
  --white-neon: #e5e5d5;
  --black-core: #1d1d1b;
  --black-tint-dark: #393939;
  --black-tint-muted: #747474;
  --black-highlight: #a8a8a8;
  --black-neon: #cdcdcd;
  --plum-core: #800080;
  --plum-tint-dark: #cc99cc;
  --plum-tint-muted: #edc0ed;
  --plum-highlight: #ffcfff;
  --plum-neon: #ff66ff;
  --blue-core: #0f3e99;
  --blue-tint-dark: #9fb2d6;
  --blue-tint-muted: #e0ebff;
  --blue-highlight: #a1c1ff;
  --blue-neon: #1967ff;
  --teal-core: #004d4d;
  --teal-tint-dark: #99b8b8;
  --teal-tint-muted: #cae3e3;
  --teal-highlight: #cfffff;
  --teal-neon: #19ffff;
  --green-core: #1f3319;
  --green-tint-dark: #a5ada3;
  --green-tint-muted: #d3ded1;
  --green-highlight: #a9ff94;
  --green-neon: #47ff19;
  --olive-core: #566600;
  --olive-tint-dark: #acada3;
  --olive-tint-muted: #dbded1;
  --olive-highlight: #ecff8c;
  --olive-neon: #d9ff19;
  --yellow-core: #666233;
  --yellow-tint-dark: #c2c0ad;
  --yellow-tint-muted: #e8e8d6;
  --yellow-highlight: #fff694;
  --yellow-neon: #ffec19;
  --orange-core: #592909;
  --orange-tint-dark: #b8b1a5;
  --orange-tint-muted: #e3ddd1;
  --orange-highlight: #ffd98c;
  --orange-neon: #f06000;
  --red-core: #b22312;
  --red-tint-dark: #f5bbb5;
  --red-tint-muted: #ffd8d4;
  --red-highlight: #ff9a8c;
  --red-neon: #db1e04;

  --proof-green: #00a67d;
  --proof-medium-blue: #0082d0;
  --proof-red: #f22c3d;
  --proof-golden: #ea9100;

  /* apple iOS scheme */
  --systemGray-1: rgb(142, 142, 147);
  --systemGray-2: rgb(174, 174, 178);
  --systemGray-3: rgb(199, 199, 204);
  --systemGray-4: rgb(209, 209, 214);
  --systemGray-5: rgb(229, 229, 234);
  --systemGray-6: rgb(242, 242, 247);
  --blue: rgb(0, 122, 255);
  --green: rgb(52, 199, 89);
  --indigo: rgb(88, 86, 214);
  --orange: rgb(255, 149, 0);
  --pink: rgb(255, 45, 85);
  --purple: rgb(175, 82, 222);
  --red: rgb(255, 59, 48);
  --teal: rgb(90, 200, 250);
  --yellow: rgb(255, 204, 0);

  --systemGray-dark-1: rgb(142, 142, 147);
  --systemGray-dark-2: rgb(99, 99, 102);
  --systemGray-dark-3: rgb(72, 72, 74);
  --systemGray-dark-4: rgb(58, 58, 60);
  --systemGray-dark-5: rgb(44, 44, 46);
  --systemGray-dark-6: rgb(28, 28, 30);
  --blue-dark: rgb(10, 132, 255);
  --green-dark: rgb(48, 209, 88);
  --indigo-dark: rgb(94, 92, 230);
  --orange-dark: rgb(255, 159, 10);
  --pink-dark: rgb(255, 55, 95);
  --purple-dark: rgb(191, 90, 242);
  --red-dark: rgb(255, 69, 58);
  --teal-dark: rgb(100, 210, 255);
  --yellow-dark: rgb(255, 214, 10);

  /* other */

  /* GitHub text color */
  --text: #1f2328;

  --gray: var(--gray-700);
  --background: var(--gray-100);
  --toc-scrollbar: var(--gray-300);
  --underline-color: var(--gray-600);

  --accent: var(--blue-neon);

  --mark-background-color: #fff2ca;
  --mark-color: #543a26;

  --translucent: rgba(250, 250, 250, 0.6);

  --internal-link-color: rgba(0, 122, 255, 0.25);
  --external-link-color: rgba(255, 45, 85, 0.25);

  --shadow: 168, 168, 168;
}
