:root {
    /* openai scheme */
    --white: #FFFFFF;
    --black: #000000;
    --gray-000: #FFFFFF;
    --gray-050: #F2F2F2;
    --gray-100: #FAFAFA;
    --gray-200: #F5F5F5;
    --gray-300: #EDEDED;
    --gray-400: #E5E5E5;
    --gray-500: #CDCDCD;
    --gray-600: #A8A8A8;
    --gray-700: #747474;
    --gray-750: #171717;
    --gray-800: #393939;
    --gray-850: #080808;
    --gray-900: #000000;
    --red-050: #FFF7F6;
    --red-100: #FFEDEB;
    --red-200: #FFE0DB;
    --red-300: #FFD3C9;
    --red-400: #FFB7A4;
    --red-500: #FF9574;
    --red-600: #FF6E3C;
    --red-700: #FF4500;
    --red-800: #AA2E00;
    --red-900: #541600;
    --green-050: #F4FFF4;
    --green-100: #E9FFE8;
    --green-200: #D9FFD8;
    --green-300: #C9FFC7;
    --green-400: #A6FFA3;
    --green-500: #7CF178;
    --green-600: #51DA4C;
    --green-700: #3FA93B;
    --green-750: #129455;
    --green-800: #2D712A;
    --green-900: #193718;
    --blue-050: #F4FBFF;
    --blue-100: #E5F1FF;
    --blue-200: #CBDCFF;
    --blue-300: #AFC1FF;
    --blue-400: #7989FF;
    --blue-500: #3C46FF;
    --blue-600: #0000FF;
    --blue-700: #0404AC;
    --blue-800: #020267;
    --blue-900: #00002E;
    --cyan-050: #F0FFFF;
    --cyan-100: #E0FFFF;
    --cyan-200: #CAFFFF;
    --cyan-300: #B3FFFF;
    --cyan-400: #82FFFF;
    --cyan-500: #42FFFF;
    --cyan-600: #00FFFF;
    --cyan-700: #00E7E7;
    --cyan-800: #00B3B3;
    --cyan-900: #005454;
    --yellow-050: #FFFFDB;
    --yellow-100: #FFFFB6;
    --yellow-200: #FFFF8F;
    --yellow-300: #FFFF66;
    --yellow-400: #FFF639;
    --yellow-500: #F5E60D;
    --yellow-600: #CFC52C;
    --yellow-700: #A19A3A;
    --yellow-800: #6C6837;
    --yellow-900: #343322;
    --magenta-050: #FFF9FF;
    --magenta-100: #FFF2FF;
    --magenta-200: #FFD7FF;
    --magenta-300: #FFC1FF;
    --magenta-400: #FF8BFF;
    --magenta-450: #f257bd;
    --magenta-500: #FF45FF;
    --magenta-600: #FF00FF;
    --magenta-700: #C500C5;
    --magenta-800: #830083;
    --magenta-900: #400040;
    --orange-050: #FFFCF5;
    --orange-100: #FFF9EA;
    --orange-200: #FFF1D6;
    --orange-300: #FFE8C1;
    --orange-400: #FFC98A;
    --orange-500: #FFA045;
    --orange-600: #FE7600;
    --orange-700: #C45600;
    --orange-750: #CF440A;
    --orange-800: #833600;
    --orange-900: #401900;
    --violet-050: #FFF9FF;
    --violet-100: #FFF2FF;
    --violet-200: #FEE6FF;
    --violet-300: #FCDAFF;
    --violet-400: #EBBBFF;
    --violet-500: #D292FF;
    --violet-600: #B161FD;
    --violet-700: #8A2BE2;
    --violet-800: #571397;
    --violet-900: #28044A;
    --brown-050: #F7ECE6;
    --brown-100: #F0DACF;
    --brown-200: #E8C7B6;
    --brown-300: #E1B59F;
    --brown-400: #CB9379;
    --brown-500: #B67252;
    --brown-600: #A0522D;
    --brown-700: #793A1C;
    --brown-800: #51230D;
    --brown-900: #2A1003;
    --white-core: #ffffff;
    --white-tint-dark: #f6f6f6;
    --white-tint-muted: #f3f3f3;
    --white-highlight: #ededed;
    --white-neon: #e5e5d5;
    --black-core: #1d1d1b;
    --black-tint-dark: #393939;
    --black-tint-muted: #747474;
    --black-highlight: #a8a8a8;
    --black-neon: #cdcdcd;
    --plum-core: #800080;
    --plum-tint-dark: #cc99cc;
    --plum-tint-muted: #edc0ed;
    --plum-highlight: #ffcfff;
    --plum-neon: #ff66ff;
    --blue-core: #0f3e99;
    --blue-tint-dark: #9fb2d6;
    --blue-tint-muted: #e0ebff;
    --blue-highlight: #a1c1ff;
    --blue-neon: #1967ff;
    --teal-core: #004d4d;
    --teal-tint-dark: #99b8b8;
    --teal-tint-muted: #cae3e3;
    --teal-highlight: #cfffff;
    --teal-neon: #19ffff;
    --green-core: #1f3319;
    --green-tint-dark: #a5ada3;
    --green-tint-muted: #d3ded1;
    --green-highlight: #a9ff94;
    --green-neon: #47ff19;
    --olive-core: #566600;
    --olive-tint-dark: #acada3;
    --olive-tint-muted: #dbded1;
    --olive-highlight: #ecff8c;
    --olive-neon: #d9ff19;
    --yellow-core: #666233;
    --yellow-tint-dark: #c2c0ad;
    --yellow-tint-muted: #e8e8d6;
    --yellow-highlight: #fff694;
    --yellow-neon: #ffec19;
    --orange-core: #592909;
    --orange-tint-dark: #b8b1a5;
    --orange-tint-muted: #e3ddd1;
    --orange-highlight: #ffd98c;
    --orange-neon: #f06000;
    --red-core: #b22312;
    --red-tint-dark: #f5bbb5;
    --red-tint-muted: #ffd8d4;
    --red-highlight: #ff9a8c;
    --red-neon: #db1e04;

    /* apple iOS scheme */
    --systemGray-1: rgb(142, 142, 147);
    --systemGray-2: rgb(174, 174, 178);
    --systemGray-3: rgb(199, 199, 204);
    --systemGray-4: rgb(209, 209, 214);
    --systemGray-5: rgb(229, 229, 234);
    --systemGray-6: rgb(242, 242, 247);
    --blue: rgb(0, 122, 255);
    --green: rgb(52, 199, 89);
    --indigo: rgb(88, 86, 214);
    --orange: rgb(255, 149, 0);
    --pink: rgb(255, 45, 85);
    --purple: rgb(175, 82, 222);
    --red: rgb(255, 59, 48);
    --teal: rgb(90, 200, 250);
    --yellow: rgb(255, 204, 0);

    --systemGray-dark-1: rgb(142, 142, 147);
    --systemGray-dark-2: rgb(99, 99, 102);
    --systemGray-dark-3: rgb(72, 72, 74);
    --systemGray-dark-4: rgb(58, 58, 60);
    --systemGray-dark-5: rgb(44, 44, 46);
    --systemGray-dark-6: rgb(28, 28, 30);
    --blue-dark: rgb(10, 132, 255);
    --green-dark: rgb(48, 209, 88);
    --indigo-dark: rgb(94, 92, 230);
    --orange-dark: rgb(255, 159, 10);
    --pink-dark: rgb(255, 55, 95);
    --purple-dark: rgb(191, 90, 242);
    --red-dark: rgb(255, 69, 58);
    --teal-dark: rgb(100, 210, 255);
    --yellow-dark: rgb(255, 214, 10);

    /* other */
    --text: #1f2328;

    --gray: var(--gray-700);
    --background: var(--gray-100);
    --toc-scrollbar: var(--gray-300);
    --underline-color: var(--gray-600);

    --accent: var(--blue-neon);

    --translucent: rgba(250, 250, 250, 0.6);

    --shadow: 96, 115, 159;
    --box-shadow: 0 2px 6px rgba(var(--shadow), 25%), 0 8px 24px rgba(var(--shadow), 33%),
        0 16px 32px rgba(var(--shadow), 33%);
}