/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@import "remark-github-alerts/styles/github-colors-light.css";
@import "remark-github-alerts/styles/github-colors-dark-class.css";
@import "remark-github-alerts/styles/github-base.css";

:root {
    --accent: #2337ff;
    --accent-dark: #000d8a;
    --black: 15, 18, 25;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --gray-gradient: rgba(var(--gray-light), 50%), #fff;
    --box-shadow: 0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
        0 16px 32px rgba(var(--gray), 33%);
}

body {
    font-family: 'UncutSans', system-ui, -apple-system, Helvetica Neue, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: left;
    background: #FAFAFA;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: rgb(var(--gray-dark));
    font-size: 20px;
    line-height: 1.7;
}

@font-face {
    font-family: 'UncutSans';
    src:
        local('UncutSans'),
        url('/fonts/UncutSans-Bold.woff2') format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'UncutSans';
    src:
        local('UncutSans'),
        url('/fonts/UncutSans-Semibold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'UncutSans';
    src:
        local('UncutSans'),
        url('/fonts/UncutSans-Medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'UncutSans';
    src:
        local('UncutSans'),
        url('/fonts/UncutSans-Regular.woff2') format('woff2');
    font-weight: 400;
}

main {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5rem 0 0.5rem 0;
    color: rgb(var(--black));
    line-height: 1.2;
}

h1 {
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

strong,
b {
    font-weight: 700;
}

a {
    color: var(--accent);
}

a:hover {
    color: var(--accent);
}

p {
    margin-bottom: 1em;
}

.prose p {
    margin-bottom: 1em;
}

textarea {
    width: 100%;
    font-size: 0.8em;
}

input {
    font-size: 0.8em;
}

table {
    font-size: 0.9em;
    width: 100%;
    border-collapse: collapse;
    /* 确保表格边框合并 */
}

thead {
    background-color: rgba(35, 55, 255, 0.1);
    /* 设置标题行的背景颜色 */
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid rgb(var(--gray-light));
    /* 添加底部边框 */
}

/* 设置交错背景色 */
tr:nth-child(odd) {
    background-color: rgba(var(--gray-light), 0.5);
    /* 奇数行背景色 */
}

tr:nth-child(even) {
    background-color: rgba(var(--gray-light), 0.2);
    /* 偶数行背景色 */
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* in line code */
code {
    padding: 2px 5px;
    background-color: rgb(var(--gray-light));
    border-radius: 2px;
    font-size: 0.9em;
}

/* code blocks */
pre {
    padding: 1.5em;
    border-radius: 8px;
    font-size: 0.8em;
}

pre>code {
    all: unset;
}

.markdown-alert .markdown-alert-title {
    /* 调整 alert title 行与下方内容的间距 */
    margin-bottom: 1em;
}

blockquote {
    margin-top: -0.5em;
}

blockquote-no-alert {
    font-size: 1.2em;
}

blockquote-no-alert svg {
    width: 32px;
    margin-bottom: -1em;
}

hr {
    border: none;
    border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
    body {
        font-size: 18px;
    }

    main {
        padding: 1em;
    }
}

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
}

kbd {
    margin: 0px 0.1em;
    padding: 0.1em 0.6em;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    color: rgb(51, 51, 51);
    line-height: 1.4;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 0.8em;
    display: inline-block;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), inset 0px 0px 0px 2px #ffffff;
    background-color: rgb(247, 247, 247);
    -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    text-shadow: 0 1px 0 #fff;
}