/* From Uiverse.io by cssbuttons-io */
.link-button {
    background-color: transparent;
    border: 2px solid var(--black);
    border-radius: 0;
    box-sizing: border-box;
    color: var(--white);
    cursor: pointer;
    float: right;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 0.9rem;
}

.link-button::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: var(--black);
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.link-button .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.link-button .top-key {
    height: 4px;
    width: 1.5625rem;
    top: -3px;
    left: 0.625rem;
    position: absolute;
    background: var(--background);
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.link-button .bottom-key-1 {
    height: 4px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -3px;
    position: absolute;
    background: var(--background);
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.link-button .bottom-key-2 {
    height: 4px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -3px;
    position: absolute;
    background: var(--background);
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.link-button:hover {
    color: var(--white);
    background: var(--black);
    border-radius: 1rem;
}

.link-button:hover::before {
    width: 0.9375rem;
    background: var(--white);
}

.link-button:hover .text {
    color: var(--white);
}

.link-button:hover .top-key {
    left: -2px;
    width: 0px;
}

.link-button:hover .bottom-key-1,
.link-button:hover .bottom-key-2 {
    right: 0;
    width: 0;
}