---
import BaseLayout from '@layouts/BaseLayout.astro';

import '@styles/404-button.css';

const title = 'Page Not Found';
const description = "Seems like you're lost. Let's get you back on track.";
---

<BaseLayout title={title} description={description}>
  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: calc(100vh - 4em);
    }
  </style>
  <script>
    document.querySelectorAll('button').forEach((button) => {
      button.innerHTML =
        '<div>' +
        button.textContent
          ?.trim()
          .split('')
          .map((char, i) => `<span style="--i:${i + 1}">${char === ' ' ? '&nbsp;' : char}</span>`)
          .join('') +
        '</div>';
    });
  </script>

  <main class="flex flex-1 flex-col items-center justify-center">
    <div>
      <span class="text-[8em] leading-[1.4] font-bold text-[var(--gray-850)]">404</span>
    </div>
    <div><h1>Page Not Found</h1></div>
    <div>
      <p>
        The page you are looking for may have been removed, renamed, or is temporarily unavailable.
      </p>
    </div>
    <br />
    <div>
      <a href="/" class="no-underline"><button>Back to Home</button></a>
    </div>
  </main>
</BaseLayout>
