---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

import "../styles/cursor.css";
---

<!doctype html>
<html lang="en">
    <style>
        section {
            scroll-snap-type: y mandatory;
            scroll-snap-align: start;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        canvas {
            display: block;
            width: 100%;
            height: 100%;
        }

        /* for test */
        .section-2 {
            background-color: #34a853;
        }
        .section-3 {
            background-color: #4285f4;
        }
    </style>

    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <div class="cursor">
        <div class="cursor-outer"></div>
        <div class="cursor-inner"></div>
    </div>
    <script>
        import "../scripts/cuboidal-quantum.js";
        import "../scripts/cursor.js";
    </script>

    <body>
        <Header />
        <section>
            <canvas id="cuboidal-quantum-canvas"></canvas>
        </section>
        <section class="section-2">
            <h1>Section 2</h1>
            <p>Content for section 2</p>
        </section>
        <section class="section-3">
            <h1>Section 3</h1>
            <p>Content for section 3</p>
        </section>
        <Footer />
    </body>
</html>
