---
import SearchBar from '@components/SearchBar.astro';
import BaseLayout from '@layouts/BaseLayout.astro';

const title = 'Search';
const description = 'Search for posts on this site.';
---

<BaseLayout title={title} description={description}>
  <style>
    body {
      display: flex;
      flex-direction: column;
      min-height: calc(100vh - 4em);
    }
    html {
      scrollbar-gutter: stable;
      overflow-y: scroll;
    }
  </style>

  <main class="flex-1">
    <div class="mx-auto my-8 w-(--width) max-w-[calc(100%-2em)]">
      <SearchBar />
    </div>
  </main>
</BaseLayout>
