---
import AstroLogo from '@components/icons/AstroLogo.astro';

const today = new Date();

const { width = '800px' } = Astro.props;
---

<footer class="flex justify-center" style={`background: var(--background); color: var(--gray);`}>
  <div class="footer-content">
    <div class="text-left">
      &copy; {today.getFullYear()} Imiloin. All rights reserved.
    </div>
    <div class="astro text-right">
      Powered by<a data-shrink href="https://astro.build" aria-label="Astro website"
        ><AstroLogo /></a
      >.
    </div>
  </div>
</footer>

<style define:vars={{ width }}>
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    width: var(--width);
    max-width: calc(100% - 2em);
  }

  .astro a {
    text-decoration: none;
    color: var(--gray);

    &:hover {
      color: var(--gray-800);
    }
  }

  @media (max-width: 768px) {
    .footer-content {
      width: calc(100% - 2em);
    }
  }

  @media (max-width: 640px) {
    .footer-content {
      font-size: 0.8em;
    }
  }
</style>
