---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive =
  href === pathname || href === '/' + subpath?.[0] || href === '/' + subpath?.[0] + '/';
---

<a
  data-expand
  href={href}
  class:list={[
    'inline-flex h-[2.2em] items-center justify-center rounded-full bg-[var(--systemGray-6)] px-[1em] text-center whitespace-nowrap text-[var(--gray-850)] no-underline shadow-none! outline-none hover:text-[var(--orange-neon)]',
    className,
    isActive && 'bg-[var(--orange-neon)]! text-white!',
  ]}
  {...props}
>
  <slot />
</a>
