---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header id="header">
    <nav>
        <div class="title">
            <a href="/" aria-label="Return to Home">
                <svg
                    class="logo"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 128 128"
                    width="28"
                    height="28"
                >
                    <g>
                        <path
                            d="M47.8,45.6c-1.7,2.7-3.4,5.3-5.1,8c-3.3,5.2-5.9,10.8-6.9,17c-1.2,7.6,2.6,14.9,9.2,17.3c4.2,1.6,8.5,1.1,12.6-0.3
                        c12.3-4.3,21.8-12.1,27.9-23.6c3-5.6,4-12.4,3-18.5c0.1-0.1,0.2-0.2,0.3-0.3c0.5,0.6,0.9,1.2,1.4,1.8c14,15.2,14.4,38.7,1,54.4
                        c-13.7,16.1-39,18.6-55.2,5.2c-8.1-6.7-12.6-15.4-12.4-26.1c0.2-6.3,2.4-11.9,5.7-17.2C34,55.8,40.3,50.1,47.8,45.6z"
                            fill="currentColor"></path>
                        <path
                            d="M65.9,14.2c4.9,3.4,8.9,7.6,11.8,12.8c6.4,11.3,6.8,22.8,1,34.4c-4.8,9.8-12,17.4-21.8,22.4c-4.7,2.4-9.2,2-12.2-1.1
                        c-2.3-2.4-3.1-5.3-3.2-8.6c-0.1-5.7,2-10.7,5.1-15.3c3.6-5.4,7.7-10.5,11.4-15.8c4.2-6.1,7.1-12.8,7.8-20.2
                        C66.1,20.1,65.9,17.3,65.9,14.2z"
                            fill="currentColor"></path>
                    </g>
                </svg>
                <h2>{SITE_TITLE}</h2></a
            >
        </div>
        <div class="internal-links">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
        </div>
        <div class="icon-links">
            <a href="/search">
                <span class="sr-only">Follow Astro on Mastodon</span>
                <svg
                    viewBox="0 0 16 16"
                    aria-hidden="true"
                    width="24"
                    height="24"
                    ><path
                        fill="currentColor"
                        d="M12.7549 11.255H11.9649L11.6849 10.985C12.6649 9.845 13.2549 8.365 13.2549 6.755C13.2549 3.165 10.3449 0.255005 6.75488 0.255005C3.16488 0.255005 0.254883 3.165 0.254883 6.755C0.254883 10.345 3.16488 13.255 6.75488 13.255C8.36488 13.255 9.84488 12.665 10.9849 11.685L11.2549 11.965V12.755L16.2549 17.745L17.7449 16.255L12.7549 11.255ZM6.75488 11.255C4.26488 11.255 2.25488 9.245 2.25488 6.755C2.25488 4.26501 4.26488 2.255 6.75488 2.255C9.24488 2.255 11.2549 4.26501 11.2549 6.755C11.2549 9.245 9.24488 11.255 6.75488 11.255Z"
                    ></path></svg
                >
            </a>
        </div>
    </nav>
</header>
<style>
    header {
        margin: 0;
        padding: 0 1em;
        background: var(--translucent); /* 半透明背景 */
        position: fixed; /* 固定在页面顶部 */
        max-width: calc(100% - 2em);
        top: 0;
        left: 0;
        width: 100%;
        transition: transform 0.3s ease; /* 添加过渡效果 */
        z-index: 998; /* 确保 header 在最上层，仅位于光标层下方 */
        backdrop-filter: blur(10px); /* 毛玻璃效果 */
        -webkit-backdrop-filter: blur(10px); /* 兼容 Safari */
    }

    .title a {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 14px;
    }
    .title h2 {
        margin: 0;
        font-size: 1em;
    }
    h2 a,
    h2 a.active {
        padding: 1em 0.5em;
        color: var(--black);
        border-bottom: 4px solid transparent;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative; /* 添加 position: relative; */
    }

    .internal-links {
        font-size: 0.9em;
        display: flex;
        margin: 0 auto; /* 水平居中 */
        position: absolute; /* 添加 position: absolute; */
        left: 50%; /* 将左边界移动到页面中间 */
        transform: translateX(-50%); /* 将元素本身向左移动50% */
    }

    .icon-links,
    .icon-links a {
        font-size: 0.9em;
        padding: 0.5em 0.5em;
        color: var(--black);
        border-bottom: 4px solid transparent;
        text-decoration: none;
        display: flex;
    }
    .icon-links a:hover {
        animation: scale-up-dpwn 0.6s ease; /* 应用动画 */
        color: var(--orange-neon);
    }
    @keyframes scale-up-dpwn {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }

    @media (max-width: 1000px) {
        .title h2 {
            font-size: 0.9em;
        }
    }
    @media (max-width: 720px) {
        .icon-links {
            scale: 0.8;
        }
        .internal-links {
            position: relative;
            left: auto; /* 重置 left 属性 */
            transform: none; /* 移除 transform 属性 */
            margin: 0.5em auto; /* 水平居中 */
        }
        h2 {
            display: none;
        }
    }
</style>

<script>
    /* 页眉在页面滚动时隐藏或显示 */
    let lastScrollTop = 0;
    const header = document.getElementById("header");
    let isUserScrolling = false;

    // 监听滚轮事件
    window.addEventListener("wheel", () => {
        isUserScrolling = true;
    });

    // 监听触摸滑动事件
    window.addEventListener("touchmove", () => {
        isUserScrolling = true;
    });

    // 监听滚动事件
    window.addEventListener("scroll", function () {
        const scrollTop = window.scrollY || document.documentElement.scrollTop;
        if (header && isUserScrolling) {
            if (scrollTop > lastScrollTop) {
                // 向下滚动
                header.style.transform = "translateY(-100%)";
            } else {
                // 向上滚动
                header.style.transform = "translateY(0)";
            }
        }
        lastScrollTop = scrollTop;
        isUserScrolling = false; // 重置滚动状态
    });
</script>
