---
import HeaderLink from "@components/HeaderLink.astro";

import logoBadge from "@icons/logo-badge.svg";
import logoText from "@icons/logo-text.svg";
---

<header id="header">
    <nav>
        <div class="title">
            <a data-expand href="/" aria-label="Return to Home">
                <img
                    src={logoBadge.src}
                    height="1.1rem"
                    alt="logo-badge"
                    aria-label="logo-badge"
                    class="logo-badge"
                />
                <img
                    src={logoText.src}
                    height="1.1rem"
                    alt="logo-text"
                    aria-label="Logo-text"
                    class="logo-text"
                />
            </a>
        </div>
        <div class="nav-links">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
        </div>
        <div class="icon-links">
            <a data-expand href="/search" aria-label="Search">
                <svg
                    viewBox="0 0 18 18"
                    aria-hidden="true"
                    height="1.1rem"
                    class="icon-search"
                    ><path
                        fill="currentColor"
                        d="M12.7549 11.255H11.9649L11.6849 10.985C12.6649 9.845 13.2549 8.365 13.2549 6.755C13.2549 3.165 10.3449 0.255005 6.75488 0.255005C3.16488 0.255005 0.254883 3.165 0.254883 6.755C0.254883 10.345 3.16488 13.255 6.75488 13.255C8.36488 13.255 9.84488 12.665 10.9849 11.685L11.2549 11.965V12.755L16.2549 17.745L17.7449 16.255L12.7549 11.255ZM6.75488 11.255C4.26488 11.255 2.25488 9.245 2.25488 6.755C2.25488 4.26501 4.26488 2.255 6.75488 2.255C9.24488 2.255 11.2549 4.26501 11.2549 6.755C11.2549 9.245 9.24488 11.255 6.75488 11.255Z"
                    ></path></svg
                >
            </a>
        </div>
    </nav>
</header>
<style>
    header {
        margin: 0;
        padding: 1em 1em;
        background: var(--translucent); /* Translucent background */
        position: fixed; /* Fixed at the top of the page */
        max-width: calc(100vw - 2em);
        top: 0;
        left: 0;
        width: 100vw;
        transition: transform 0.3s ease; /* Add transition effect */
        z-index: 998; /* Ensure header is on top, just below the cursor layer */
        backdrop-filter: blur(10px); /* Frosted glass effect */
        -webkit-backdrop-filter: blur(10px); /* Safari compatibility */
    }

    .title {
        margin-left: 10%;
    }
    .title a {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 14px;
    }
    .logo-badge,
    .logo-text {
        border-radius: 0;
        height: 1.1rem;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative; /* Add position: relative; */
    }

    .nav-links {
        font-size: 0.9em;
        display: flex;
        margin: 0 auto; /* Center the links */
        position: absolute;
        left: 50%; /* Move the left boundary to the center of the page */
        transform: translateX(
            -50%
        ); /* Move the element itself 50% to the left */
    }

    .icon-links,
    .icon-links a {
        margin-right: 10%;
        color: var(--gray-850);
        border-bottom: none;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
    .icon-links a:hover {
        animation: scale-up-dpwn 0.6s ease; /* Apply animation */
        color: var(--orange-neon);
    }
    .icon-search {
    }
    @keyframes scale-up-dpwn {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.2);
        }
        100% {
            transform: scale(1);
        }
    }

    @media (max-width: 1000px) {
        .title {
            margin-left: 1rem;
        }
        .icon-links {
            margin-right: 1rem;
        }
    }
    @media (max-width: 720px) {
        .title {
            scale: 0.8;
            margin-left: 0rem;
        }
        .icon-links {
            scale: 0.8;
            margin-right: 0rem;
        }
    }
    @media (max-width: 636px) {
        .logo-text {
            display: none;
        }
    }
</style>

<script>
    const header = document.getElementById("header");

    /* Hide or show the header when scrolling the page */
    let lastScrollTop = 0;
    let isTOCClick = false;

    // Listen for scroll events
    window.addEventListener("scroll", function () {
        const scrollTop = window.scrollY || document.documentElement.scrollTop;
        if (header && !isTOCClick) {
            if (scrollTop > lastScrollTop) {
                // Scrolling down
                header.style.transform = "translateY(-100%)";
            } else {
                // Scrolling up
                header.style.transform = "translateY(0)";
            }
        }
        lastScrollTop = scrollTop;
        isTOCClick = false; // Reset TOC click status
    });

    // Listen for click events on in-page links
    document.querySelectorAll('a[href*="#"]').forEach((link) => {
        if (header) {
            link.addEventListener("click", () => {
                isTOCClick = true;
                header.style.transform = "translateY(-100%)";
            });
        }
    });
</script>
