---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
    <slot />
</a>
<style>
    a {
        padding: 1em 1em;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: rgba(244, 244, 244, 0.96);
        border-radius: 200px;
        box-sizing: border-box;
        color: #000;
        display: inline-flex;
        height: 40px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        outline: none;
        padding: 0 24px;
        text-align: center;
        -webkit-text-decoration: none;
        text-decoration: none;
        white-space: nowrap;
        --hover-color: #ec520b;
    }
    a:hover {
        color: var(--hover-color);
    }
    a.active {
        color: #fff;
        background-color: var(--hover-color);
    }
</style>
